node_modules
dist
release
desktop-release
desktop-build
desktop-app-build
desktop-app-build-v2
desktop-app-build-v3
android
android/.gradle
android/app/build
android/build
.env
.env.*
.DS_Store
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
